html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes animation {
    from{background-color: black;}
    to{background-color: #6534c0;}
}

body{
    background-color: black;
}

.nav-bar, footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 1s0vh;
   }

.nav-bar a{
    color: #fff;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none;
   }
.name{
    font-size: 1.5rem;
    margin:1rem;
   }
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-right: 2rem;
   }
.menu li:hover, .footer a:hover i{
    background-color: #6534c0;
    transition: 0.3s ease;
    color:white;
   }

.menu li {
    list-style-type: none;
   }

nav img{
    width: 3vh;    
   }
   
footer ul, footer li{
    display: flex;
    margin-right: 1em;
    font-size: 1.5rem;
}

footer a{
    color:white;
}

.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main{
    background:black;
    position: relative;
    background-image: url("images/fondo.png");
    text-align: center;
    padding: 1rem;
    overflow-y: auto;
}

.item{
    display:grid;
    grid-template-columns: 150px 1fr;
    justify-content: left;
    background: black;
    width: 30%;
    gap: 2rem;
    border-radius: 1rem;
    color:white;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: 'Encode Sans', sans-serif;
    overflow-y: auto;
}

.item img{
    width: 100%;
    padding: 1rem;
    border-radius: 100px;
    float:left;
}

.item:hover{
    animation: animation 5s linear infinite alternate;
}

.titulo, .contact-title{
    display: block;
    font-family: 'Encode Sans', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem 0.5rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

.grid-item img{
    width: 200px;
    border-radius: 3rem;

}

.grid-item:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s all ease;
}

input[type=submit], input[type=reset] {
    width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #6534c0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
}

input[type=submit]:hover, input[type=reset]:hover{
    background: white;
    color:#6534c0;

}

input.input1 {
    height: 40px;
  }

textarea.input1 {
    min-height: 150px;
  }

.input1 {
    background: #e6e6e6;
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    color: #666666;
    cursor: text;
    padding:0.5rem;
    margin-bottom: 1rem;
    border-radius: 1em;
    width: 80%;


  }

  .formulario, iframe{
    display: flex;
    background-color: black;
    border-radius: 1em;
    width: 40%;
    margin: auto;
    flex-direction: column;
    padding:1rem;
    margin-bottom: 2rem;
  }



  
@media screen and (min-width: 930px) and (max-width: 1540px){
    #galeria{
      grid-template-columns: max-content max-content max-content; 
    }
    #hide{
      display:inline;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 930px){
    #galeria{
      grid-template-columns: max-content max-content; 
    }
    #hide{
      display: none;
    }
  }
  
  @media screen and (max-width: 500px) {
    #galeria{
      grid-template-columns: max-content; 
    }
    .pictures img{
      width: 95vw;
    }
    #hide{
      display:inline;
  }
}

  /*940 es lo que  ocupa la imagen a lo largo. Saco fondo para que no se repita*/
  @media screen and (min-height: 940px){
    .main{
    background-image: none;
    background-color: rgb(41, 31, 48);
  }
}
